<div class="container">
  <div class="row">
    <div class="span12">
      <%= form_tag single_result_path, :new_id => "qwdwa", :id => 'searchForm', :method => 'get' do %>
      <%= autocomplete_field_tag 'search', '', main_autocomplete_path, :placeholder => 'Enter Movie Name Here...'%>
      <%= submit_tag 'Search', :type => :image, :src => '/assets/searchicon.png' %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span12 mb20">
      <h3 class="smallTitle">Search for Cinema Releases in the UK</h3>
      <p class="smallText">and get a reminder the day before its released!!</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
     <div class="span8 offset2 center">
      <h3 class="smallTitle">QuickSearch</h3>
      
      <%= form_tag results_path, :method => "get" %>
      <%= select_date(date = Date.current, :order => [:month, :year], :prompt => {:month => 'Select month', :year => 'Select Year'}) %><br>
      <%= submit_tag "Search Releases", :class => 'button' %>
      <br>
      <!--<%= link_to "Next Month", results_path(:date => {:month => (Date.today + 1.month).month, :year => (Date.today + 1.month).year}) %>-->
     </div>
   </div>
 </div>
  </div>
</div>

