<div class="container">
  <div class="row">
    <div class="span8 offset2 center">
      <% if !@reminders.empty? %>
      <h4 class='smallTitle'> Current Reminders </h4>
        <table class="reminder">
          <th>
            <tr>
              <td class="thread">Movie Name</td>
              <td class="thread">Release date</td>
              <td class="thread">Remove</td>
            </tr>
          </th>
        <% @reminders.each do |reminder| %>
          <%if reminder.movie %>
              <tr>
                <td class="smallTextYellow"><%= reminder.movie.name unless reminder.movie.name == nil %> </td>
                <td class="smallTextYellow"><%= date_format(reminder.movie.release_date) %> </td>
                <td class="smallText "><%= link_to "X", reminder_path(reminder), :confirm => "Are you sure you want to remove this reminder?", method: :delete, :class => "links" %></td>
              </tr>
          <% end %>
        <% end %>
        </table>
        <%= link_to "Back To Search", root_path, :class => " links" %>
        <!--Responsive Table -->
        <div class="respwrapper">
          <% @reminders.each do |reminder| %>
            <ul class="resp">
              <%if reminder.movie %>
                <li class="resp1"><%= reminder.movie.name unless reminder.movie.name == nil %></li>
                <li class="resp1"><%= date_format(reminder.movie.release_date) %></li>
                <%= link_to "Remove", reminder_path(reminder), :confirm => "Are you sure you want to remove this reminder?", method: :delete , :class => 'links button' %>
              <% end %>
            </ul>
          <% end %>
          <%= link_to "Back To Search", root_path, :class => "links" %>
        </div>
      <% else %>
        <p class="smallText">You have no reminders set</p>
        <%= link_to "Back To Search", root_path, :class => 'links button' %><br>
      <% end %>

      <% unless @processed_reminders.empty? %>
        <h4>Old Reminders </h4><br/>
        <table class="reminder">
          <th>
            <tr>
              <td class="thread">Movie Name</td>
              <td class="thread">Release date</td>
              <td class="thread">Actions</td>
            </tr>
          </th>
        <% @processed_reminders.each do |reminder| %>
          <%if reminder.movie %>
              <tr>
                <td class="smallText"><%= reminder.movie.name unless reminder.movie.name == nil %> </td>
                <td class="smallText"><%= date_format(reminder.movie.release_date) %> </td>
                <td class="smallText"><%= link_to "X", reminder_path(reminder), :confirm => "Are you sure you want to remove this reminder?", method: :delete, :class => "links" %></td>
              </tr>
          <% end %>
        <% end %>
        </table>
        <!--Responsive Table -->
        <div class="respwrapper">
          <% @processed_reminders.each do |reminder| %>
            <ul class="resp">
              <%if reminder.movie %>
                <li class="resp1"><%= reminder.movie.name unless reminder.movie.name == nil %></li>
                <li class="resp1"><%= date_format(reminder.movie.release_date) %></li>
                <%= link_to "Remove", reminder_path(reminder), :confirm => "Are you sure you want to remove this reminder?", method: :delete , :class => 'links button' %>
              <% end %>
            </ul>
          <% end %>
          <%= link_to "Back To Search", root_path, :class => 'links' %>
        </div>
      <% end %>
    </div>
  </div>
</div>