<div class="container">
  <div class="row show-grid clear-both">
    <div id="left-sidebar" class="span3 sidebar">
      <div class="side-nav sidebar-block">
        <h3 class="resultTitle fontSize13">Release Dates</h2>
        <ul class="date">
          <% @response.each_pair do |date, movie| %>
          <li><i class="icon-chevron-right"></i><%= link_to date_format(date), "#d_#{date}", :id=> '#d_#{date}', :class => 'scroll_to' %></li>
        <% end %>
        </ul>
      </div>
    </div>
    <div class="span9">
      <% @response.each_pair do |date, movie| %>
        <h3 class="resultTitle fontSize13" id="d_<%= date %>">Available on&nbsp;<%= date_format(date) %></h3>
        <% movie.each do |m| %>
          <div class="thumbnail clearfix">
            <img class="pull-left" src=<% if m.image_link %> <%= m.image_link %> <% else %> "/assets/noimage.jpg" <% end %>>
            <div class="caption pull-right">
              <%= link_to m.name, m.title_id, :class => 'resultTitle fontSize11' %>
              <p class="bio"><%= m.bio %></p>
              <p class="resultTitle">Cast</p>
              <p class="bio"><%= m.cast.join(", ") unless m.cast.empty? %></p>
              <%= link_to "Remind me", reminders_path(:title_id => m.title_id), :method => :post, :class => 'links button' %>
            </div>
          </div>
        <% end %>
      <% end %>
      <div id="searchWrapper">
       <a id="up" class="links" href="#">Back To Top</a>
      </div>
    </div><!--span8 offset2-->
  </div><!--Row-->
</div><!--/container-->

