<div class="navbar">
  <div class="navbar-inner">
    <div class="container">   
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

        <!-- Be sure to leave the brand out there if you want it shown -->

        <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to "Reminders", reminders_path, :class => "links" unless !current_user %></li>
          <li><%= link_to "Account", edit_user_registration_path, :class => "links" unless !current_user %></li>
          <li><%= display_login  %></li>
          <li><%= link_to 'Sign up', new_user_registration_path, :class => "links" if !current_user %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="topDivPush"></div>
<header id ="header">
  <div class="container">
    <div class="row ">
      <div class="span12 mb20">
        <h1 class="mainTitle"><%= link_to "Movie Release Reminder", root_path %></h1>
      </div>
    </div>
  </div>
</header>