<div class="container">
  <div class="row">
    <div class="span8 offset2 resize">
      <h3 class="smallTitle">Available on&nbsp;<%= @movie.release_date %></h3>
      <div class="thumbnail clearfix">
        <img class="pull-left" src=<% if @movie.image_link %> <%= @movie.image_link %> <% else %> "/assets/noimage.jpg" <% end %>>
        <div class="caption pull-right">
          <%= link_to @movie.name, @movie.title_id, :class => 'smallTitle fontSize13' %><br>
          <p class="bio"><%= @movie.bio %></p>
          <p class="smallTitle">Cast</p><br>
          <p class="bio"><%= @movie.cast.join(", ") unless @movie.cast.empty? %></p>
          <%= link_to "Remind me", reminders_path(:title_id => @movie.title_id), :method => :post, :class => 'button' %>
        </div>
      </div>
    </div><!--span8 offset2-->
  </div><!--Row-->
</div><!--/container-->